
.contact h1{
    text-align: center;
}

.step{
    margin:0 30%;
    display:flex;
    justify-content: space-around;
}

.step_current {
    color: #fff;
    font-weight: bold;
    background-color: #3eb6fc;
    padding:10px;
}

.step_nocurrent {
    color: #fff;
    background-color: #a9a9a9;
    padding:10px;
  }

.form_line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.3em 0;
	border-bottom: 3px black;
}

.form_line th {
    width: 200px;
    padding-right: 30px;
    text-align: center;
    line-height:1.5em;
}

.button{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.submit-btn {
    width: 20%;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* ボタン内のテキストを中央揃えにする */
}

.table_container {
    margin: 0 auto; /* 中央に寄せる */
    width: 50%; /* テーブルの幅 */
    margin-top: 50px;
}


.form_line input{
    width:350px;
    height: 10px;
    padding:15px;
    border: 1.5px solid #ccc; /* 枠の線の太さと色を指定 */
}

textarea {
	width: 350px;  /* 横幅 */
	height: 300px; /* 高さ */
    padding:15px;
    border: 1.5px solid #ccc; /* 枠の線の太さと色を指定 */
}

/* inputとtextareaのフォントを同じにする */
input[type="text"],
input[type="email"],
textarea {
    font-family: 'Arial', sans-serif; /* フォント */
    margin-bottom: 20px;

}

/* inputとtextareaのプレースホルダーのフォントを同じにする */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-family: 'Arial', sans-serif; /* フォント */
    font-size: 15px; /* フォントサイズ */
    color: #999; /* プレースホルダーの文字色 */  
}

.detail-item {
    border: 1.5px solid #ccc; /* 各項目の枠 */
    padding: 10px;
    margin-bottom: 10px;
}

.thank{
    text-align: center;
}

.thank h2{
    margin-top: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.contact-table {
    width: 100%;
    border-collapse: collapse;
  }

.contact-table th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
  }

  /* テーブルデータ行のスタイル（奇数行） */
.contact-table tr:nth-child(odd) {
    background-color: #fff;
  }
  
  /* テーブルデータ行のスタイル（偶数行） */
.contact-table tr:nth-child(even) {
    background-color: #cbc8c8;
  }
  
  /* テーブルセルのスタイル */
.contact-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

.contact_link{
    text-align: center;
    margin-top: 30px;
  }

.management_link{
    text-align: center;
  }

.btn btn-detail{
    background-color: aqua;
  }

.contact_detail_container{
    width: 80%; /* コンテンツの幅を指定 */
    margin: 0 auto; /* 中央寄せにする場合 */
  }

.contact_detail ul {
    list-style-type: none; /* 箇条書きリストのマーカーを削除 */
    
}
.contact_detail ul li {
    margin-bottom: 10px; /* 各項目の下に余白を設定 */
    word-wrap: break-word; /* 長い単語を折り返す */
    white-space: pre-wrap; /* テキストの改行を維持 */
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.page-item{
    margin-right: 50px
}


.name_form,
.mail_form,
.title_form,
.content_form {
    border: 2px solid #ccc;
    padding: 8px;
    width:350px;
    height: auto;
    word-wrap: break-word; /* テキストを折り返して表示 */
}

.form_item{
    margin-top: 10px;
}

.contact_detail h1{
    text-align: center;
}