/******************************************************************
  お問い合わせ入力ページ
　お問い合わせ確認ページ             
　お問い合わせ送信完了ページ
*******************************************************************/
.contact h1{
    text-align: center;
}

.step{
    margin:20px auto;
    display:flex;
    justify-content: space-around;
    text-align: center;
    width:50%;
}

.step_current {
    color: #fff;
    font-weight: bold;
    background-color: #007bff;
    padding:10px;
    flex: 1;
    border-radius: 5px;
}

.step_nocurrent {
    color: #fff;
    background-color: #6c757d;
    padding:10px;
    flex: 1;
    border-radius: 5px;
}

/******************************************************************
  お問い合わせ入力ページ
　お問い合わせ確認ページ             
*******************************************************************/
.form_line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.3em 0;
	border-bottom: 3px black;
}

.form_line th {
    width: 200px;
    padding-right: 30px;
    text-align: center;
    line-height:1.5em;
}

.button{
    text-align: center;
    margin-top: 20px;
}

.submit-btn {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-family: 'Times New Roman', serif; 
}

.table_container {
    margin: 0 auto; 
    width: 54%;
    margin-top: 50px;
}

.form_line input{
    width:350px;
    height: 10px;
    padding:15px;
    border: 1px solid #ccc; 
}

textarea {
	width: 350px;  
	height: 300px; 
    padding:15px;
    border: 1px solid #ccc; 
}

/* inputとtextareaのフォントを同じにする */
input[type="text"],
input[type="email"],
textarea {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
}

/* inputとtextareaのプレースホルダーのフォントを同じにする */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-family: 'Times New Roman', serif;
    font-size: 16px; 
    color: #999; 
}

.form_item{
    margin-bottom: 35px;
}

.required{
    background-color: red;
    color:white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #000;
}

/******************************************************************
  お問い合わせ入力ページ           
*******************************************************************/
.error-message {
    color: red;
    font-weight: bold;
    list-style-type: none;
    font-family: 'Times New Roman', serif;
    position: relative;
    top: -5px; 
    left: 16px;
}
.home_link{
    margin-left: 1080px; 
    margin-bottom: -27px; 
}
.management_link{
    margin-left: 1150px;
}

/******************************************************************
　お問い合わせ確認ページ             
*******************************************************************/
.confirm {
    width: 50%;
    margin: 0 auto;
}

.confirm th,
.confirm td {
border: 1px solid #ccc;
padding: 20px;
word-break: break-all;
}

.confirm th {
font-weight: bold;
background-color: #dedede;
width:30%; 
}

/******************************************************************          
　お問い合わせ送信完了ページ
*******************************************************************/
.thank{
    text-align: center;
}

.thank h2{
    margin-top: 20px;
}

.contact_link{
    text-align: center;
    margin-top: 30px;
}

/******************************************************************
  お問い合わせ一覧ページ
*******************************************************************/
.contact-table {
    width: 100%;
    border-collapse: collapse;
}

.contact-table th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

/* テーブルデータ行のスタイル（奇数行） */
.contact-table tr:nth-child(odd) {
    background-color: #fff;
}
  
/* テーブルデータ行のスタイル（偶数行） */
.contact-table tr:nth-child(even) {
    background-color: #ddd;
}
  
/* テーブルセルのスタイル */
.contact-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.page-item{
    margin-right: 50px
}

.btn-detail{
    background-color: rgb(8, 134, 8);
    color:white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #000;
    padding:5px;
    font-family: 'Times New Roman', serif;
}

.btn-danger{
    background-color: rgb(234, 70, 70);
    color:white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #000;
    padding:5px;
    font-family: 'Times New Roman', serif;
}

.clear-button{
    margin-left: 30px;
    margin-top: 42px;
    border-radius: 5px;
    background-color: #c9c6c6;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    padding:5px;
    font-family: 'Times New Roman', serif;
}
/******************************************************************
  お問い合わせ詳細ページ
*******************************************************************/
.detail_container{
    width: 80%;
    margin: 0 auto;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
}

/* テーブルデータ行のスタイル（奇数行） */
.detail-table tr:nth-child(odd) {
    background-color: #fff;
}

/* テーブルデータ行のスタイル（偶数行） */
.detail-table tr:nth-child(even) {
    background-color: #ddd;
}
  
/* テーブルセルのスタイル */
.detail-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

/******************************************************************
検索機能
*******************************************************************/
.radio-container {
    display: flex;
  }
  
.radio-container input[type="radio"] {
    display: none;
}
  
.radio-container label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -15px;
    margin-left: 10px;
    padding:5px;
}
  
.radio-container label:hover {
    background-color: #f0f0f0;
}
  
.radio-container input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}

/* <<<<<<< sort */
.btn-sort {
    font-size: 20px; /* ボタンのフォントサイズを大きくする */
    padding: 10px 20px; /* ボタンの余白を調整する */
    border: none; /* ボーダーを削除 */
    background-color: transparent; /* 背景色を透明にする */
    cursor: pointer; /* カーソルをポインターにする */
/* ======= */
.search-wrapper {
    display: flex;
    align-items: center;
}

.filter-wrapper{
    display:flex;
    margin-top: -30px;
}

.contact_search{
    margin-left: 40px;
    margin-top: 17px;
/* >>>>>>> develop */
}

.contact_search form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-wrapper select {
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: -5px;
    font-family: 'Times New Roman', serif;
}

.search-label {
    margin-right: 10px;
    padding: 9px;
    font-size: 16px;
    padding-right: 10px;
    width: 60px;
}

.contact_search input[type="text"] {
    margin-top: 25px;
    border: 1px solid #000;
    padding:7px;
    border-radius: 5px;
    font-family: 'Times New Roman', serif;
}

.contact_search input[type="submit"]{
    margin-left:20px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    padding:5px;
    margin-top: -5px;
    font-family: 'Times New Roman', serif;
}

body{
    font-family: 'Times New Roman', serif;
}

.form_input input,
.form_input textarea{
    background-color: #dbd8d8;
}
